<div class="container">
  <mat-toolbar>
    <span>Maat Organizer</span>
    <span class="example-spacer"></span>
    <span *ngIf="!isLoggedIn">
      No account?
      <button
        mat-raised-button color="success"
        routerLink="register"
        aria-label="Sign up">
          Sign up
      </button>&nbsp;
    </span>

    <span *ngIf="isLoggedIn">
      <button 
        mat-icon-button class="example-icon favorite-icon"
        [matMenuTriggerFor]="user"
        aria-label="Settings Icon Button">
          <mat-icon>settings</mat-icon>
      </button>
      <mat-menu #user="matMenu" class="user_menu">
        <button 
          mat-menu-item
          aria-label="Settings">
          Profile
        </button>
        <button 
          mat-menu-item
          aria-label="Settings">
          Settings
        </button>
        <button 
          mat-menu-item
          (click)="logout()"
          aria-label="Logout button">
          Logout
        </button>
      </mat-menu>
      Logged in as {{userEmail}}
    </span>
  </mat-toolbar>
</div>
<header></header>
<router-outlet></router-outlet>