
mat-toolbar {
  background: #353935;
  color: #EDEADE;
}

.mat-icon-button {
  font-size: 38px;
  padding: 0 !important;
}

.app_title {
  font-family: 'Tangerine', serif;
  font-size: 48px;
}

.title_text {
  font-family: 'Tangerine', serif;
  font-size: 38px;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-button-row button,
.example-button-row a {
margin-right: 8px;
}

/* button styling */

.mat-button.mat-success,
.mat-stroked-button.mat-success {
  color: #155724;
}
.mat-button.mat-success:hover,
.mat-stroked-button.mat-success:hover {
/* background-color: #f0fff3; */
  background-color: #EDEADE;
}

.mat-raised-button.mat-success,
.mat-flat-button.mat-success,
.mat-fab.mat-success,
.mat-mini-fab.mat-success {
color: #f0fff3;
background-color: #155724;
}

.mat-icon-button.mat-success {
color:#155724;
}

::ng-deep .user_menu {
  background: #353935;
}

button.mat-menu-item {
  font-family: 'Caveat', sans-serif;
  font-size: 20px;
  /* margin-right: 25px; */
}

button.mat-menu-item:active {
  color: #EDEADE;
}

button.mat-menu-item:hover {
  background-color: black;
  color: green;
}

