<mat-card class="login_card" *ngIf="!isLoggedIn">
    <mat-card-content>
      <form name="form" (ngSubmit)="onSubmit()">
        <h2>Log In</h2>
        <!-- <mat-error *ngIf="!isLoginFailed">
          The username and password were not recognized
        </mat-error> -->
        <mat-form-field>
          <input matInput class="login_input" placeholder="Email" [(ngModel)]="form.email" name="email" required>
          <!-- <mat-error>
            Please provide a valid email address
          </mat-error> -->
        </mat-form-field>
        <mat-form-field>
          <input matInput class="login_input" type="password" placeholder="Password" [(ngModel)]="form.password" name="password" required>
          <!-- <mat-error>
            Please provide a valid password
          </mat-error> -->
        </mat-form-field>
        <button mat-raised-button color="success" type="submit">Login</button>
      </form>
    </mat-card-content>
</mat-card>
<router-outlet></router-outlet>