<div class="container profile_container">
    <h1>{{ firstName }} {{lastName}}</h1>
    <mat-divider class="header_divider"></mat-divider>
    <h2> Credentials </h2>
    
    <mat-list>
        <mat-list-item>
            <span class="title">Privileges:</span>&nbsp; {{firstName}} has &nbsp;
            <span class="perm">{{perms}}</span>&nbsp; permissions.
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="title">Email</span>&nbsp; {{email}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="title">Name:</span>&nbsp; {{firstName}}&nbsp;{{lastName}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="title">Address:</span>&nbsp; {{address}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="title">Phone #:</span>&nbsp; {{phone}}
        </mat-list-item>
      </mat-list>

    <mat-divider class="header_divider"></mat-divider>
    <h2>Profile</h2>

</div>