mat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
  }
    
  mat-form-field {
    display: block;
    font-size: 14px;
  }
  
  ::ng-deep .register_card {
    border-radius: 2px;
    background: #353935;
  }
  
  ::ng-deep .email_input {
    height: 35px;
    font-size: 16px;
  }

  ::ng-deep .pass1_input {
    height: 35px;
    font-size: 16px;
  }

  ::ng-deep .pass2_input {
    height: 35px;
    font-size: 16px;
  }
  
  .example-spacer {
      flex: 1 1 auto;
  }
  
  .example-button-row button,
  .example-button-row a {
    margin-right: 8px;
  }
  
  /* button styling */
  
  .mat-button.mat-success,
  .mat-stroked-button.mat-success {
      color: #155724;
  }
  .mat-button.mat-success:hover,
  .mat-stroked-button.mat-success:hover {
    background-color: #f0fff3;
  }
  
  .mat-raised-button.mat-success,
  .mat-flat-button.mat-success,
  .mat-fab.mat-success,
  .mat-mini-fab.mat-success {
    color: #f0fff3;
    background-color: #155724;
  }
  
  .mat-icon-button.mat-success {
    color:#155724;
  }
  