
.dashboard_container {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

h1 {
    font-family: 'Caveat', sans-serif;
    font-size: 40px;
}

.header_divider {
    border: 2px solid black;
}


mat-menu {
    background: #353935;
}

mat-menu-list {
    color: #EDEADE;
}

button.mat-button {
    font-family: 'Caveat', sans-serif;
    font-size: 20px;
}

button.mat-menu-item {
    font-family: 'Caveat', sans-serif;
    font-size: 20px;
}

button.mat-menu-item:hover {
    background: black;
    color: green;
}
