.dashboard_container {
    margin-top: 10px;
}

.header_divider {
    border: 2px solid black;
}

.user_card {
    margin-top: 10px;
    border: 1px solid black;
}

.user_card_header {
    border-bottom: 1px solid black;
    font-weight: bold;
}

.user_card_content {
    margin-left: 10px;
}
