<div class="container dashboard_container">
    <h1>Dashboard</h1>
    <mat-divider class="header_divider"></mat-divider>

    <!-- need to customize the menus and dropdowns specific to users -->
    <button mat-button [matMenuTriggerFor]="organizer">Organizer</button>
    <mat-menu #organizer="matMenu" yPosition="below">
        <button mat-menu-item routerLink="calendar">Calendar</button>
        <button mat-menu-item>Journal</button>
        <button mat-menu-item>Finance</button>
        <button mat-menu-item>Gallery</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="projects">Projects</button>
    <mat-menu #projects="matMenu" yPosition="below">
        <button mat-menu-item>Programming</button>
        <button mat-menu-item>Business</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="controls">Controls</button>
    <mat-menu #controls="matMenu" yPosition="below">
        <button mat-menu-item>Themes</button>
        <button mat-menu-item>Bot</button>
    </mat-menu>

    <button mat-button *ngIf="perms === 'admin'">
        Manager
    </button>


    <mat-divider class="header_divider"></mat-divider>


</div>